.home {
	position: relative;
	figure {
		float: right;
		img {
			width: 100px;
			height: 100px;
			.rounded(100px);
		}
	}
	header {
		h1 {
			margin-bottom: 10px;
			&.no-margin {
				margin-bottom: -10px;
			}
		}
	}
	.home-content {
		color: @verde-agua;
		font-weight: 600;
		margin-left: 0;
		margin-right: 1px;
		font-size: 1.2rem;
	}
	.home-sub-content {
		margin-top: 20px;
		font-weight: inherit;
		color: inherit;
	}
	@media @medium {
		figure img {
			width: 150px;
			height: 150px;
		}
		header {
			h1 {
				font-size: 3rem;
				margin-bottom: 10px;
			}
		}
	}
	@media @large {
		figure img {
			width: 200px;
			height: 200px;
			margin-left: 10px;
		}
		header {
			h1 {
				font-size: 4rem;
			}
		}
	}
}

.contact-strip {
	position: absolute;
	background-color: @verde-agua;
	color: @white;
	height: 85px;
	font-size: 1rem;
	text-align: center;
	width: 100%;
	left: 0;
	margin-top: 20px;
	text-shadow: 0 1px 1px darken(@verde-agua, 90%);
	ul {
		padding-left: 0px;
		margin-top: 5px;
	}
	li {
		list-style: none;
		a {
			color: inherit;
			border-bottom: 1px dotted white;
		}
		&:first-child { /* Texto 'Pedidos al xxxxxx' */
			font-size: 1rem;
		}
	}
	@media @medium {
		font-size: 1.25rem;
		ul {
			line-height: 42px;
			margin-top: 16px;
		}
		li {
		display: inline;
			&:first-child { /* Texto 'Pedidos al xxxxxx' */
				font-size: 1.4rem;
			}
			&:before {
				content: ' · ';
			}
			&:first-child:before {
				content: '';
			}
		}
	}
	@media @large {
		height: 100px;
		font-size: 1.5rem;
		margin-top: 40px;
		ul {
			line-height: 50px;
			margin-top: 24px;
		}
		li {
			&:first-child { /* Texto 'Pedidos al xxxxxx' */
				font-size: 1.7rem;
			}
		}
	}
}

.home-cakes {
	margin-top: 125px;
	overflow: hidden;
}

.cakes-list-featured {
	margin: 0 auto;
	.cake {
		&:first-child {
			margin-top: 0;
		}
		width: 100%;
		margin-top: 60px;
		margin-right: 5px;
		margin-left: 5px;
		h2 {
			margin-bottom: 0;
			font-size: 1.3em;
		}
		span {
			font-size: 1rem;
			display: block;
			min-height: 55px;
		}
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.cake-footer {
		text-align: center;
		margin: 10px auto;
		color: @white;
		text-shadow: 0 1px 1px darken(@verde-agua, 90%);
		width: 80%;
		font-size: 1.2rem;
		div {
			float: left;
		}
	}
	.cake-quote {
		width: 50%;
		background-color: @verde-agua;
		.border-radius(0, 0, 10px, 10px);
		cursor: pointer;
		&:hover {
			background-color: darken(@verde-agua, 10%)
		}
	}
	.cake-price {
		width: 50%;
		background-color: @cafe;
		font-weight: 600;
		.border-radius(10px, 10px, 0, 0);
	}
	@media @medium {
		.cake {
			display: inline-block;
			vertical-align: top;
			width: 300px;
			margin-right: 20px;
			margin-top: 0;
		}
	}
	@media @large {
		.cake {
			margin-right: 5px;
		}
	}
}

.cake-list {
	color: white;
	.cake {
		&:nth-child(even) {
		background-color: @verde-agua-claro;
		}
		&:nth-child(odd) {
			background-color:  @verde-agua;
		}
		&:first-child {
			border-top: none;
		}
		border-top: 2px solid #318579;
		.cake-title {
			h2 {
				font-size: 1.1em;
			}
			font-weight: bold;
			text-align: center;
			padding-top: 2px;
		}
		.cake-description {
			margin-bottom: 5px;
			padding: 5px;
		}
		.cake-price {
			font-weight: bold;
			text-align: center;
			padding: 5px;
			font-size: 1.1em;
		}
		.cake-quote {
			text-align: center;
			background-color: @cafe;
			border-top: 2px solid #318579;
			padding: 5px;
			font-weight: bold;
			cursor: pointer;
			&:hover {
				background-color: #4e352e;
			}
		}
	}
	@media @large {
		.cake {
			display: table;
			width: 100%;
			.cake-title  {
				display: table-cell;
				width: 25%;
				padding: 5px;
			}
			.cake-description {
				display: table-cell;
			}
			.cake-price {
				display: table-cell;
				vertical-align: middle;
				width: 20%;
			}
			.cake-quote {
				display: table-cell;
				vertical-align: middle;
				width: 10%;
				border: none;
			}
		}
	}
}

.home-contact {
	clear: both;
	margin-top: 30px;
	form {
		input {
			margin-bottom: 5px;
		}
		textarea {
			height: 200px;
		}
		input[type=submit] {
			float: right;
			color: white;
			background-color: @verde-agua;
			font-size: 1.5rem;
			width: 200px;
			padding: 10px;
			margin-top: 10px;
			.rounded(10px);
		}
	}
}

.msg-contact {
	display: none;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.footer {
	text-align: left;
	font-size: 0.9rem;
	img {
		width: 120px;
		height: 120px;
		float: left;
		margin-top: -27px;
		margin-bottom: 20px;
	}
	a:first-child {
		font-size: 1rem;
		font-weight: 700;
	}
	@media @medium {
		font-size: 1rem;
		img {
			width: 200px;
			height: 200px;
			margin-top: -30px;
		}
		a:first-child {
			font-size: 2rem;
		}
	}
}

.zoom-gallery {
	a {
		width: 300px;
		height: 300px;
	}
}

.error-box {
	position: absolute;
	background-color: red;
	color: white;
	width: 30px;
	text-align: center;
	margin: 5px 5px;
	opacity: 0.6;
	.rounded(30px);
}

.hide {
	display: none;
}
