<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}
{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage">
  <img src="images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" itemprop="image">
  <div class="entry-wrapper">
      <div id="business" class="home" itemscope>
        <figure>
          <img src="images/veronica.jpg" width="200" height="200" itemprop="image">
        </figure>
        <header class="home-header">
          <h1 itemprop="name">{{ page.text.main.name }}</h1>
        </header>
        <div class="home-content" itemprop="description">
          {{ page.text.main.content }}
        </div><!-- /.home-content -->
        <div class="home-content home-sub-content" itemprop="description">
          {{ page.text.main.sub-content }}
        </div><!-- /.home-content -->
    </div><!-- /.home-home -->
    <div class="contact-strip">
      <ul>
        <li>{{ page.text.strip.first }}</li>
        <li><a href="mailto:{{ site.owner.email }}">{{ site.owner.email }}</a></li>
        <li>{{ page.text.strip.third }}</li>
      </ul>
    </div>
    <div id="cakes" class="home home-cakes">
        <header>
          <h1>{{ page.text.cakes }}</h1>
        </header>
        <div>
          {% include featured-cakes.html %}
        </div>
    </div><!-- /.home .home-cakes -->
    <div id="contact" class="home home-contact">
        <header>
          <h1>{{ page.text.contact.title }}</h1>
        </header>
          {% include contact-form.html %}
    </div><!-- /.home .home-cakes -->
  </div><!-- /.home-wrapper -->
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>